::-webkit-scrollbar
	display: none

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-normal.eot') format('eot'), url('/fonts/avenir-normal.ttf') format('ttf'), url('/fonts/avenir-normal.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-normal-italic.eot') format('eot'), url('/fonts/avenir-normal-italic.ttf') format('ttf'), url('/fonts/avenir-normal-italic.woff') format('woff')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-md.eot') format('eot'), url('/fonts/avenir-md.ttf') format('ttf'), url('/fonts/avenir-md.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-md-italic.eot') format('eot'), url('/fonts/avenir-md-italic.ttf') format('ttf'), url('/fonts/avenir-md-italic.woff') format('woff')
	font-weight: 600
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-bold.eot') format('eot'), url('/fonts/avenir-bold.ttf') format('ttf'), url('/fonts/avenir-bold.woff') format('woff')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-bold-italic.eot') format('eot'), url('/fonts/avenir-bold-italic.ttf') format('ttf'), url('/fonts/avenir-bold-italic.woff') format('woff')
	font-weight: bold
	font-style: italic

@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Bold.eot') format('eot'), url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('/fonts/AvenirNextCyr-Bold.ttf') format('ttf')
	font-weight: 800
	font-style: normal

@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Bold.eot') format('eot'), url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('/fonts/AvenirNextCyr-Bold.ttf') format('ttf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-ThinItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-ThinItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-ThinItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-ThinItalic.ttf') format('ttf')
	font-weight: 100
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-MediumItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-MediumItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-MediumItalic.ttf') format('ttf')
	font-weight: 500
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr Ultra'
	src: url('/fonts/AvenirNextCyr-UltraLightIt.eot') format('eot'), url('/fonts/AvenirNextCyr-UltraLightIt.woff2') format('woff2'), url('/fonts/AvenirNextCyr-UltraLightIt.woff') format('woff'), url('/fonts/AvenirNextCyr-UltraLightIt.ttf') format('ttf')
	font-weight: 200
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Light.eot') format('eot'), url('/fonts/AvenirNextCyr-Light.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Light.woff') format('woff'), url('/fonts/AvenirNextCyr-Light.ttf') format('ttf')
	font-weight: 300
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Italic.eot') format('eot'), url('/fonts/AvenirNextCyr-Italic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Italic.woff') format('woff'),	url('/fonts/AvenirNextCyr-Italic.ttf') format('ttf')
	font-weight: normal
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-BoldItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-BoldItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-BoldItalic.ttf') format('ttf')
	font-weight: bold
	font-style: italic

@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-BoldItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-BoldItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-BoldItalic.ttf') format('ttf')
	font-weight: 800
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Heavy.eot') format('eot'), url('/fonts/AvenirNextCyr-Heavy.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Heavy.woff') format('woff'), url('/fonts/AvenirNextCyr-Heavy.ttf') format('ttf')
	font-weight: 900
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-HeavyItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-HeavyItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-HeavyItalic.ttf') format('ttf')
	font-weight: 900
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Thin.eot') format('eot'), url('/fonts/AvenirNextCyr-Thin.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Thin.woff') format('woff'), url('/fonts/AvenirNextCyr-Thin.ttf') format('ttf')
	font-weight: 100
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Medium.eot') format('eot'), url('/fonts/AvenirNextCyr-Medium.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Medium.woff') format('woff'),	url('/fonts/AvenirNextCyr-Medium.ttf') format('ttf')
	font-weight: 500
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-DemiItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-DemiItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-DemiItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-DemiItalic.ttf') format('ttf')
	font-weight: bold
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Demi.eot') format('eot'), url('/fonts/AvenirNextCyr-Demi.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Demi.woff') format('woff'), url('/fonts/AvenirNextCyr-Demi.ttf') format('ttf')
	font-weight: bold
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Regular.eot') format('eot'), url('/fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('/fonts/AvenirNextCyr-Regular.ttf') format('ttf')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-LightItalic.eot') format('eot'), url('/fonts/AvenirNextCyr-LightItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-LightItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-LightItalic.ttf') format('ttf')
	font-weight: 300
	font-style: italic


@font-face
	font-family: 'Avenir Next Cyr Ultra'
	src: url('/fonts/AvenirNextCyr-UltraLight.eot') format('eot'), url('/fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'), url('/fonts/AvenirNextCyr-UltraLight.ttf') format('ttf')
	font-weight: 200
	font-style: normal

@font-face
	font-family: 'ITC Avant Garde LT'
	src: url('/fonts/AvantGardeLT-Bold.otf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'ITC Avant Garde LT Bold Oblique'
	src: url('/fonts/ITC Avant Garde Gothic LT Bold Oblique.otf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Regular.eot') format('eot'), url('/fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('/fonts/AvenirNextCyr-Regular.ttf') format('ttf')
	font-weight: normal
	font-style: normal

$font-family: 'Avenir Next Cyr'

html
	background: rgba(255, 255, 255, 1)

body

	.v-application
		scroll-behavior: smooth
		font-family: $font-family !important
		font-style: normal

.slider-number
	font-family: 'ITC Avant Garde LT Bold Oblique'

.slider-title
	font-family: 'ITC Avant Garde LT'
	font-weight: 700
	font-style: normal

.page-enter, .page-leave-active
	opacity: 0
	transform-origin: 50% 50%

.page-enter-active, .page-leave-active
	transition: all 0.30s ease-out

.page-enter-active
	animation: page-in 0.40s ease-out both

.page-leave-active
	animation: page-out 0.60s ease-in both

@keyframes page-in
	0%
		transform: translate3d(-100%, 0, 0)

	100%
		transform: translate3d(0, 0, 0)

@keyframes page-out
	0%
		transform: translate3d(0, 0, 0)

	100%
		transform: translate3d(100%, 0, 0)
