::-webkit-scrollbar
	display: none

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-normal.eot') format('eot'), url('/fonts/avenir-normal.ttf') format('ttf'), url('/fonts/avenir-normal.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-normal-italic.eot') format('eot'), url('/fonts/avenir-normal-italic.ttf') format('ttf'), url('/fonts/avenir-normal-italic.woff') format('woff')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-md.eot') format('eot'), url('/fonts/avenir-md.ttf') format('ttf'), url('/fonts/avenir-md.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-md-italic.eot') format('eot'), url('/fonts/avenir-md-italic.ttf') format('ttf'), url('/fonts/avenir-md-italic.woff') format('woff')
	font-weight: 600
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-bold.eot') format('eot'), url('/fonts/avenir-bold.ttf') format('ttf'), url('/fonts/avenir-bold.woff') format('woff')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('/fonts/avenir-bold-italic.eot') format('eot'), url('/fonts/avenir-bold-italic.ttf') format('ttf'), url('/fonts/avenir-bold-italic.woff') format('woff')
	font-weight: bold
	font-style: italic

@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Bold.eot')
	src: local('/fonts/Avenir Next Cyr Bold'), local('/fonts/AvenirNextCyr-Bold'), url('/fonts/AvenirNextCyr-Bold.eot?#iefix'), url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('/fonts/AvenirNextCyr-Bold.ttf')
	font-weight: 800
	font-style: normal

@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Bold.eot')
	src: local('/fonts/Avenir Next Cyr Bold'), local('/fonts/AvenirNextCyr-Bold'), url('/fonts/AvenirNextCyr-Bold.eot?#iefix'), url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('/fonts/AvenirNextCyr-Bold.ttf')
	font-weight: bold
	font-style: normal

@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-ThinItalic.eot')
	src: local('/fonts/Avenir Next Cyr Thin Italic'), local('/fonts/AvenirNextCyr-ThinItalic'),	url('/fonts/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-ThinItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-ThinItalic.woff') format('woff'),	url('/fonts/AvenirNextCyr-ThinItalic.ttf') format('truetype')
	font-weight: 100
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-MediumItalic.eot')
	src: local('/fonts/Avenir Next Cyr Medium Italic'), local('/fonts/AvenirNextCyr-MediumItalic'),	url('/fonts/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-MediumItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-MediumItalic.ttf') format('truetype')
	font-weight: 500
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr Ultra'
	src: url('/fonts/AvenirNextCyr-UltraLightIt.eot')
	src: local('/fonts/Avenir Next Cyr Ultra Light Italic'), local('/fonts/AvenirNextCyr-UltraLightIt'), url('/fonts/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-UltraLightIt.woff2') format('woff2'),	url('/fonts/AvenirNextCyr-UltraLightIt.woff') format('woff'), url('/fonts/AvenirNextCyr-UltraLightIt.ttf') format('truetype')
	font-weight: 200
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Light.eot')
	src: local('/fonts/Avenir Next Cyr Light'), local('/fonts/AvenirNextCyr-Light'), url('/fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Light.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Light.woff') format('woff'), url('/fonts/AvenirNextCyr-Light.ttf') format('truetype')
	font-weight: 300
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Italic.eot')
	src: local('/fonts/Avenir Next Cyr Italic'), local('/fonts/AvenirNextCyr-Italic'), url('/fonts/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Italic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Italic.woff') format('woff'),	url('/fonts/AvenirNextCyr-Italic.ttf') format('truetype')
	font-weight: normal
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-BoldItalic.eot')
	src: local('/fonts/Avenir Next Cyr Bold Italic'), local('/fonts/AvenirNextCyr-BoldItalic'),	url('/fonts/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-BoldItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic

@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-BoldItalic.eot')
	src: local('/fonts/Avenir Next Cyr Bold Italic'), local('/fonts/AvenirNextCyr-BoldItalic'),	url('/fonts/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-BoldItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype')
	font-weight: 800
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Heavy.eot')
	src: local('/fonts/Avenir Next Cyr Heavy'), local('/fonts/AvenirNextCyr-Heavy'), url('/fonts/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Heavy.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Heavy.woff') format('woff'), url('/fonts/AvenirNextCyr-Heavy.ttf') format('truetype')
	font-weight: 900
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-HeavyItalic.eot')
	src: local('/fonts/Avenir Next Cyr Heavy Italic'), local('/fonts/AvenirNextCyr-HeavyItalic'), url('/fonts/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-HeavyItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype')
	font-weight: 900
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Thin.eot')
	src: local('/fonts/Avenir Next Cyr Thin'), local('/fonts/AvenirNextCyr-Thin'), url('/fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Thin.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Thin.woff') format('woff'), url('/fonts/AvenirNextCyr-Thin.ttf') format('truetype')
	font-weight: 100
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Medium.eot')
	src: local('/fonts/Avenir Next Cyr Medium'), local('/fonts/AvenirNextCyr-Medium'), url('/fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Medium.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Medium.woff') format('woff'),	url('/fonts/AvenirNextCyr-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-DemiItalic.eot')
	src: local('/fonts/Avenir Next Cyr Demi Italic'), local('/fonts/AvenirNextCyr-DemiItalic'), url('/fonts/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-DemiItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-DemiItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-DemiItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Demi.eot')
	src: local('/fonts/Avenir Next Cyr Demi'), local('/fonts/AvenirNextCyr-Demi'), url('/fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Demi.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Demi.woff') format('woff'), url('/fonts/AvenirNextCyr-Demi.ttf') format('truetype')
	font-weight: bold
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Regular.eot')
	src: local('/fonts/Avenir Next Cyr Regular'), local('/fonts/AvenirNextCyr-Regular'), url('/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('/fonts/AvenirNextCyr-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal


@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-LightItalic.eot')
	src: local('/fonts/Avenir Next Cyr Light Italic'), local('/fonts/AvenirNextCyr-LightItalic'), url('/fonts/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-LightItalic.woff2') format('woff2'), url('/fonts/AvenirNextCyr-LightItalic.woff') format('woff'), url('/fonts/AvenirNextCyr-LightItalic.ttf') format('truetype')
	font-weight: 300
	font-style: italic


@font-face 
	font-family: 'Avenir Next Cyr Ultra'
	src: url('/fonts/AvenirNextCyr-UltraLight.eot')
	src: local('/fonts/Avenir Next Cyr Ultra Light'), local('/fonts/AvenirNextCyr-UltraLight'), url('/fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'), url('/fonts/AvenirNextCyr-UltraLight.ttf') format('truetype')
	font-weight: 200
	font-style: normal

@font-face
	font-family: 'ITC Avant Garde LT'
	src: url('/fonts/AvantGardeLT-Bold.otf')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'ITC Avant Garde LT Bold Oblique'
	src: url('/fonts/ITC Avant Garde Gothic LT Bold Oblique.otf')
	font-weight: bold
	font-style: normal

@font-face 
	font-family: 'Avenir Next Cyr'
	src: url('/fonts/AvenirNextCyr-Regular.eot')
	src: local('/fonts/Avenir Next Cyr Regular'), local('/fonts/AvenirNextCyr-Regular'), url('/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('/fonts/AvenirNextCyr-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$font-family: 'Avenir Next Cyr'

body, .v-application
	scroll-behavior: smooth
	font-family: $font-family!important
	font-weight: normal
	font-style: normal


.slider-number
	font-family: 'ITC Avant Garde LT Bold Oblique'
	font-weight: bold
	font-style: normal

.slider-title
	font-family: 'ITC Avant Garde LT'
	font-weight: bold
	font-style: normal