::-webkit-scrollbar
  display: none

@font-face
  font-family: 'Avenir'
  src: url('/fonts/avenir.eot') format('eot'), url('/fonts/avenir.ttf') format('ttf'), url('/fonts/avenir.woff') format('woff')

$font-family: 'Avenir'

body, .v-application
  scroll-behavior: smooth
  font-family: $font-family!important